
<nav style="width: 100%; display: flex; justify-content: space-between;">
  <div style="padding: 20px;  margin: 0px 10em">My logo</div>
  <div style="display: flex; margin: 0px 10em">
    <a [routerLink]="['/']" routerLinkActive="active" style="text-decoration: none; padding: 0px 20px 0px 20px; align-items: center; display: flex;">Home</a>
    <a [routerLink]="['/list']" routerLinkActive="active" style="text-decoration: none; padding: 0px 20px 0px 20px;align-items: center; display: flex;  ">Lista</a>
  </div>
</nav>

<router-outlet></router-outlet>